<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">MovieRater</a>
            <ul class="navbar-nav justify-content-end">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movierater_app:logout' %}">Log Out ({{ user.username }})</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movierater_app:login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movierater_app:register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
            </div>
        </nav>
        <div class="container">
            <div class="alert d-none" role="alert" id="alertDiv"></div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
